extends template
block CSS
  title 积分明细
  link(rel="stylesheet" href="css/public.css")
  link(rel="stylesheet" href="css/index.css")
block content
  #pullrefresh.mui-content.mui-scroll-wrapper
    .mui-content-scroll
      table#pointsDetailTable.table
        tr
          td 时间
          td 积分值
          td 类型
        tr
          td 2016-10-10
          td.red +200
          td 存款
block JS
  script(src="js/public.js")
  script(type='text/javascript').
    mui.init({
      pullRefresh:{
        container: '#pullrefresh',
        down: {
          callback: function(){
            console.log('down');
            mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
          }
        },
        up: {
          contentrefresh: '正在加载...',
          callback: function(){
            console.log('up');
          }
        }
      }
    });
