//-标题
-var allTitle='杭州蓝喜信息技术有限公司'
-var simpleTitle='蓝喜'

//-首页九宫格
-var funcList=[{'name':'卡券包','img':'icon-1.png',href:'card'},{'name':'积分明细','img':'icon-3.png',href:'pointsDetail'},{'name':'积分转赠','img':'icon-2.png',href:'pointsGive'},{'name':'抽奖游戏','img':'icon-5.png',href:'pointsGame'},{'name':'积分权益','img':'icon-6.png',href:''},{'name':'积分红包','img':'icon-4.png',href:'pointsPacket'}]