extends template
block CSS
  title 积分红包
  link(rel="stylesheet" href="css/public.css")
  link(rel="stylesheet" href="css/index.css")
block content
  #packetBg
    .weui-cells
      .weui-cell.weui-cell_vcode
        .weui-cell__hd.weui-label
          label 数量
        .weui-cell__bd
        input#redPacketCount.weui-input.mui-text-right(type='text' placeholder='红包个数' maxlength='6')
        .weui-cell__ft(style="color:black;margin-right: 5px;")
          label 个
    .weui-cells
      .weui-cell.weui-cell_vcode
        .weui-cell__hd.weui-label
          label 积分
          //-select.weui-select
            option 总积分
            option 单个积分
        .weui-cell__bd
        input#redPacketIntegral.weui-input.mui-text-right(type='text' placeholder='积分值' maxlength='8' onkeyup="$('#totalPoints').text(this.value==''?0:this.value)")
    .rice-info 每人可领1个,积分随机
    .weui-cells
      .weui-cell.weui-cell_vcode
        .weui-cell__hd.weui-label
          label 留言
        .weui-cell__bd
        input#redPacketName.weui-input.mui-text-right(type='text' placeholder='积分红包,速来领取' maxlength='30')
    #totalPacketPoints
      p
        span#totalPoints 0
        label 积分
    a.weui-btn.weui-btn_warn(href="javascript:sendPacket()") 发红包
    #dialog-packet.hidden
      .weui-mask
      .weui-dialog
        .weui-dialog__hd
          strong.weui-dialog__title 红包已生成
        .weui-dialog__bd 可通过分享发送给好友
        .weui-dialog__ft
          a.weui-dialog__btn.weui-dialog__btn_primary(href="javascript:closeDialog('packet')") 确定
block JS
  //- script(src="js/ZeroClipboard.min.js")
  script(src="js/public.js")
  script(src="js/pointsPacket.js")