extends template
block CSS
  title 积分明细
  link(rel="stylesheet" href="css/public.css")
  link(rel="stylesheet" href="css/index.css")
block content
  #pullRefresh.mui-content.mui-scroll-wrapper
    .mui-content-scroll
      table#pointsDetailTable.table
        tr#pointsDetailTr
          td 时间
          td 积分值
          td 类型
  input#page(type="hidden")
block JS
  script(src="js/public.js")
  script(src="js/pointsDetailList.js")
