extends template
block CSS
  title 积分红包
  link(rel="stylesheet" href="css/public.css")
  link(rel="stylesheet" href="css/index.css")
block content
  #getPacketBg
    #packetRedBg
    #packetContent
      #packetBgAdd
        #packetHeadPic
      p(style="margin: 10px 0px 6px 0px;")
        span#packetUser &nbsp;
        span 的红包
      p.rice-color-777
        span#packetinfo &nbsp;
      #redPacketPic(onclick="unpackRedPacket()")
      p.rice-color-777
        span 共
        span#redPacketNum &nbsp;
        span 个红包,总积分
        span#redPacketTotal &nbsp;
        span 积分
block JS
  script(src="js/public.js")
  script(src="js/redPacket.js")