extends template
block CSS
  title 个人信息
  link(rel="stylesheet" href="css/public.css")
  link(rel="stylesheet" href="css/index.css")
block content
  .page__bd
    .weui-cells
      .weui-cell
        .weui-cell__bd
          label 微信号
        .weui-cell__ft#wechatId zlmifan
      .weui-cell
        .weui-cell__bd
          label 身份证号
        .weui-cell__ft#wechatId 330501199309081314
      a.weui-cell.weui-cell_access(href="javascript:hrefTo('phone');")
        .weui-cell__bd
          label 手机号
        .weui-cell__ft#wechatId 15757857341
    .weui-cells(style="margin-top:44px")
      .weui-cell(style="text-align:center")
        .weui-cell__bd(onclick="showDialog('unbundling')")
          label 取消绑定
    #dialog-unbundling.hidden
      .weui-mask
      .weui-dialog
        .weui-dialog__hd
          strong.weui-dialog__title 解绑确认
        .weui-dialog__bd 将解除绑定并退回登录界面
        .weui-dialog__ft
          a.weui-dialog__btn.weui-dialog__btn_default(href="javascript:closeDialog('unbundling')") 取消
          a.weui-dialog__btn.weui-dialog__btn_primary(href="javascript:unbundling()") 确认
block JS
  script(src="js/public.js")
  script(src="js/userInfo.js")