<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lanxi.WechatIntegralService.dao.AccountBindingDao">
<insert id="addAccountBinding" parameterType="com.lanxi.WechatIntegralService.entity.AccountBinding">
insert into wechat_integral_service_account_binding 
(open_id,nick_name,headimg_url,integral_account,binding_time,binding_phone,remark,beiy)
values
(#{openId},#{nickName},#{headimgUrl},#{integralAccount},#{bindingTime},#{bindingPhone},#{remark},#{beiy})
</insert>
<insert id="addAccountBindingDefault" parameterType="com.lanxi.WechatIntegralService.entity.AccountBinding">
insert into wechat_integral_service_account_binding 
(open_id,nick_name,headimg_url,integral_account,binding_time,binding_phone,remark,beiy)
values
(DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT)
</insert>
<delete id="deleteAccountBinding" parameterType="com.lanxi.WechatIntegralService.entity.AccountBinding">
delete from wechat_integral_service_account_binding
<where>
<if test="openId != null and openId!=''"> and open_id = #{openId}  </if>  
<if test="nickName != null and nickName!=''"> and nick_name = #{nickName}  </if>  
<if test="headimgUrl != null and headimgUrl!=''"> and headimg_url = #{headimgUrl}  </if>  
<if test="integralAccount != null and integralAccount!=''"> and integral_account = #{integralAccount}  </if>  
<if test="bindingTime != null and bindingTime!=''"> and binding_time = #{bindingTime}  </if>  
<if test="bindingPhone != null and bindingPhone!=''"> and binding_phone = #{bindingPhone}  </if>  
<if test="remark != null and remark!=''"> and remark = #{remark}  </if>  
<if test="beiy != null and beiy!=''"> and beiy = #{beiy}  </if>  
</where>
</delete>
<update id="updateAccountBinding" parameterType="com.lanxi.WechatIntegralService.entity.AccountBinding">
update wechat_integral_service_account_binding
<set> 
<if test="openId != null and openId!=''">open_id = #{openId},</if>  
<if test="nickName != null and nickName!=''">nick_name = #{nickName},</if>  
<if test="headimgUrl != null and headimgUrl!=''">headimg_url = #{headimgUrl},</if>  
<if test="integralAccount != null and integralAccount!=''">integral_account = #{integralAccount},</if>  
<if test="bindingTime != null and bindingTime!=''">binding_time = #{bindingTime},</if>  
<if test="bindingPhone != null and bindingPhone!=''">binding_phone = #{bindingPhone},</if>  
<if test="remark != null and remark!=''">remark = #{remark},</if>  
<if test="beiy != null and beiy!=''">beiy = #{beiy},</if>  
</set>
<where>
<if test="openId != null and openId!=''"> and open_id = #{openId}  </if>  
<if test="nickName != null and nickName!=''"> and nick_name = #{nickName}  </if>  
<if test="headimgUrl != null and headimgUrl!=''"> and headimg_url = #{headimgUrl}  </if>  
<if test="integralAccount != null and integralAccount!=''"> and integral_account = #{integralAccount}  </if>  
<if test="bindingTime != null and bindingTime!=''"> and binding_time = #{bindingTime}  </if>  
<if test="bindingPhone != null and bindingPhone!=''"> and binding_phone = #{bindingPhone}  </if>  
<if test="remark != null and remark!=''"> and remark = #{remark}  </if>  
<if test="beiy != null and beiy!=''"> and beiy = #{beiy}  </if>  
</where>
</update>
<select id="selectAccountBinding" resultMap="accountBindingMap" parameterType="com.lanxi.WechatIntegralService.entity.AccountBinding" resultType="com.lanxi.WechatIntegralService.entity.AccountBinding">
select
open_id,nick_name,headimg_url,integral_account,binding_time,binding_phone,remark,beiy
from wechat_integral_service_account_binding
<where> 
<if test="openId != null and openId!=''"> and open_id = #{openId}  </if>  
<if test="nickName != null and nickName!=''"> and nick_name = #{nickName}  </if>  
<if test="headimgUrl != null and headimgUrl!=''"> and headimg_url = #{headimgUrl}  </if>  
<if test="integralAccount != null and integralAccount!=''"> and integral_account = #{integralAccount}  </if>  
<if test="bindingTime != null and bindingTime!=''"> and binding_time = #{bindingTime}  </if>  
<if test="bindingPhone != null and bindingPhone!=''"> and binding_phone = #{bindingPhone}  </if>  
<if test="remark != null and remark!=''"> and remark = #{remark}  </if>  
<if test="beiy != null and beiy!=''"> and beiy = #{beiy}  </if>  
</where>
</select>
<resultMap id="accountBindingMap" type="com.lanxi.WechatIntegralService.entity.AccountBinding">
<result property="openId" 			column="open_id"></result>
<result property="nickName" 			column="nick_name"></result>
<result property="headimgUrl" 			column="headimg_url"></result>
<result property="integralAccount" 			column="integral_account"></result>
<result property="bindingTime" 			column="binding_time"></result>
<result property="bindingPhone" 			column="binding_phone"></result>
<result property="remark" 			column="remark"></result>
<result property="beiy" 			column="beiy"></result>
</resultMap>
</mapper>