<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lanxi.WechatIntegralService.dao.GameDao">
<insert id="addGame" parameterType="com.lanxi.WechatIntegralService.entity.Game">
insert into wechat_integral_service_game 
(id,name,special_prize,first_prize,second_prize,third_prize,no_prize,integral)
values
(#{id},#{name},#{specialPrize},#{firstPrize},#{secondPrize},#{thirdPrize},#{noPrize},#{integral})
</insert>
<insert id="addGameDefault" parameterType="com.lanxi.WechatIntegralService.entity.Game">
insert into wechat_integral_service_game 
(id,name,special_prize,first_prize,second_prize,third_prize,no_prize,integral)
values
(DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT)
</insert>
<delete id="deleteGame" parameterType="com.lanxi.WechatIntegralService.entity.Game">
delete from wechat_integral_service_game
<where>
<if test="id != null and id!=''"> and id = #{id}  </if>  
<if test="name != null and name!=''"> and name = #{name}  </if>  
<if test="specialPrize != null and specialPrize!=''"> and special_prize = #{specialPrize}  </if>  
<if test="firstPrize != null and firstPrize!=''"> and first_prize = #{firstPrize}  </if>  
<if test="secondPrize != null and secondPrize!=''"> and second_prize = #{secondPrize}  </if>  
<if test="thirdPrize != null and thirdPrize!=''"> and third_prize = #{thirdPrize}  </if>  
<if test="noPrize != null and noPrize!=''"> and no_prize = #{noPrize}  </if>  
<if test="integral != null and integral!=''"> and integral = #{integral}  </if>  
</where>
</delete>
<update id="updateGame" parameterType="com.lanxi.WechatIntegralService.entity.Game">
update wechat_integral_service_game
<set> 
<if test="id != null and id!=''">id = #{id},</if>  
<if test="name != null and name!=''">name = #{name},</if>  
<if test="specialPrize != null and specialPrize!=''">special_prize = #{specialPrize},</if>  
<if test="firstPrize != null and firstPrize!=''">first_prize = #{firstPrize},</if>  
<if test="secondPrize != null and secondPrize!=''">second_prize = #{secondPrize},</if>  
<if test="thirdPrize != null and thirdPrize!=''">third_prize = #{thirdPrize},</if>  
<if test="noPrize != null and noPrize!=''">no_prize = #{noPrize},</if>  
<if test="integral != null and integral!=''">integral = #{integral},</if>  
</set>
<where>
<if test="id != null and id!=''"> and id = #{id}  </if>  
<if test="name != null and name!=''"> and name = #{name}  </if>  
<if test="specialPrize != null and specialPrize!=''"> and special_prize = #{specialPrize}  </if>  
<if test="firstPrize != null and firstPrize!=''"> and first_prize = #{firstPrize}  </if>  
<if test="secondPrize != null and secondPrize!=''"> and second_prize = #{secondPrize}  </if>  
<if test="thirdPrize != null and thirdPrize!=''"> and third_prize = #{thirdPrize}  </if>  
<if test="noPrize != null and noPrize!=''"> and no_prize = #{noPrize}  </if>  
<if test="integral != null and integral!=''"> and integral = #{integral}  </if>  
</where>
</update>
<select id="selectGame" resultMap="gameMap" parameterType="com.lanxi.WechatIntegralService.entity.Game" resultType="com.lanxi.WechatIntegralService.entity.Game">
select
id,name,special_prize,first_prize,second_prize,third_prize,no_prize,integral
from wechat_integral_service_game
<where> 
<if test="id != null and id!=''"> and id = #{id}  </if>  
<if test="name != null and name!=''"> and name = #{name}  </if>  
<if test="specialPrize != null and specialPrize!=''"> and special_prize = #{specialPrize}  </if>  
<if test="firstPrize != null and firstPrize!=''"> and first_prize = #{firstPrize}  </if>  
<if test="secondPrize != null and secondPrize!=''"> and second_prize = #{secondPrize}  </if>  
<if test="thirdPrize != null and thirdPrize!=''"> and third_prize = #{thirdPrize}  </if>  
<if test="noPrize != null and noPrize!=''"> and no_prize = #{noPrize}  </if>  
<if test="integral != null and integral!=''"> and integral = #{integral}  </if>  
</where>
</select>
<resultMap id="gameMap" type="com.lanxi.WechatIntegralService.entity.Game">
<result property="id" 			column="id"></result>
<result property="name" 			column="name"></result>
<result property="specialPrize" 			column="special_prize"></result>
<result property="firstPrize" 			column="first_prize"></result>
<result property="secondPrize" 			column="second_prize"></result>
<result property="thirdPrize" 			column="third_prize"></result>
<result property="noPrize" 			column="no_prize"></result>
<result property="integral" 			column="integral"></result>
</resultMap>
</mapper>