<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lanxi.WechatIntegralService.dao.RedPacketReceiveDao">
<insert id="addRedPacketReceive" parameterType="com.lanxi.WechatIntegralService.entity.RedPacketReceive">
insert into wechat_integral_service_red_packet_receive 
(red_packet_id,open_id,nick_name,integral,plateform_serial_id,receive_time,remark,beiy)
values
(#{redPacketId},#{openId},#{nickName},#{integral},#{plateformSerialId},#{receiveTime},#{remark},#{beiy})
</insert>
<insert id="addRedPacketReceiveDefault" parameterType="com.lanxi.WechatIntegralService.entity.RedPacketReceive">
insert into wechat_integral_service_red_packet_receive 
(red_packet_id,open_id,nick_name,integral,plateform_serial_id,receive_time,remark,beiy)
values
(DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT)
</insert>
<delete id="deleteRedPacketReceive" parameterType="com.lanxi.WechatIntegralService.entity.RedPacketReceive">
delete from wechat_integral_service_red_packet_receive
<where>
<if test="redPacketId != null"> and red_packet_id = #{redPacketId}  </if>  
<if test="openId != null"> and open_id = #{openId}  </if>  
<if test="nickName != null"> and nick_name = #{nickName}  </if>  
<if test="integral != null"> and integral = #{integral}  </if>  
<if test="plateformSerialId != null"> and plateform_serial_id = #{plateformSerialId}  </if>  
<if test="receiveTime != null"> and receive_time = #{receiveTime}  </if>  
<if test="remark != null"> and remark = #{remark}  </if>  
<if test="beiy != null"> and beiy = #{beiy}  </if>  
</where>
</delete>
<update id="updateRedPacketReceive" parameterType="com.lanxi.WechatIntegralService.entity.RedPacketReceive">
update wechat_integral_service_red_packet_receive
<set> 
<if test="redPacketId != null">red_packet_id = #{redPacketId},</if>  
<if test="openId != null">open_id = #{openId},</if>  
<if test="nickName != null">nick_name = #{nickName},</if>  
<if test="integral != null">integral = #{integral},</if>  
<if test="plateformSerialId != null">plateform_serial_id = #{plateformSerialId},</if>  
<if test="receiveTime != null">receive_time = #{receiveTime},</if>  
<if test="remark != null">remark = #{remark},</if>  
<if test="beiy != null">beiy = #{beiy},</if>  
</set>
<where>
<if test="redPacketId != null"> and red_packet_id = #{redPacketId}  </if>  
<if test="openId != null"> and open_id = #{openId}  </if>  
</where>
</update>
<select id="selectRedPacketReceive" resultMap="redPacketreceiveMap" parameterType="com.lanxi.WechatIntegralService.entity.RedPacketReceive" resultType="com.lanxi.WechatIntegralService.entity.RedPacketReceive">
select
red_packet_id,open_id,nick_name,integral,plateform_serial_id,receive_time,remark,beiy
from wechat_integral_service_red_packet_receive
<where> 
<if test="redPacketId != null"> and red_packet_id = #{redPacketId}  </if>  
<if test="openId != null"> and open_id = #{openId}  </if>  
<if test="nickName != null"> and nick_name = #{nickName}  </if>  
<if test="integral != null"> and integral = #{integral}  </if>  
<if test="plateformSerialId != null"> and plateform_serial_id = #{plateformSerialId}  </if>  
<if test="receiveTime != null"> and receive_time = #{receiveTime}  </if>  
<if test="remark != null"> and remark = #{remark}  </if>  
<if test="beiy != null"> and beiy = #{beiy}  </if>  
</where>
</select>
<resultMap id="redPacketreceiveMap" type="com.lanxi.WechatIntegralService.entity.RedPacketReceive">
<result property="redPacketId" 			column="red_packet_id"></result>
<result property="openId" 			column="open_id"></result>
<result property="nickName" 			column="nick_name"></result>
<result property="integral" 			column="integral"></result>
<result property="plateformSerialId" 			column="plateform_serial_id"></result>
<result property="receiveTime" 			column="receive_time"></result>
<result property="remark" 			column="remark"></result>
<result property="beiy" 			column="beiy"></result>
</resultMap>
</mapper>