<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lanxi.WechatIntegralService.dao.ValidCodeDao">
<insert id="addValidCode" parameterType="com.lanxi.WechatIntegralService.entity.ValidCode">
insert into wechat_integral_service_valid_code 
(phone,code,start_time,over_time,valid_code_status)
values
(#{phone},#{code},#{startTime},#{overTime},#{validCodeStatus})
</insert>
<insert id="addValidCodeDefault" parameterType="com.lanxi.WechatIntegralService.entity.ValidCode">
insert into wechat_integral_service_valid_code 
(phone,code,start_time,over_time,valid_code_status)
values
(DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT)
</insert>
<delete id="deleteValidCode" parameterType="com.lanxi.WechatIntegralService.entity.ValidCode">
delete from wechat_integral_service_valid_code
<where>
<if test="phone != null and phone!=''"> and phone = #{phone}  </if>  
<if test="code != null and code!=''"> and code = #{code}  </if>  
<if test="startTime != null and startTime!=''"> and start_time = #{startTime}  </if>  
<if test="overTime != null and overTime!=''"> and over_time = #{overTime}  </if>  
<if test="validCodeStatus != null and validCodeStatus!=''"> and valid_code_status = #{validCodeStatus}  </if>  
</where>
</delete>
<update id="updateValidCode" parameterType="com.lanxi.WechatIntegralService.entity.ValidCode">
update wechat_integral_service_valid_code
<set> 
<if test="phone != null and phone!=''">phone = #{phone},</if>  
<if test="code != null and code!=''">code = #{code},</if>  
<if test="startTime != null and startTime!=''">start_time = #{startTime},</if>  
<if test="overTime != null and overTime!=''">over_time = #{overTime},</if>  
<if test="validCodeStatus != null and validCodeStatus!=''">valid_code_status = #{validCodeStatus},</if>  
</set>
<where>
<if test="phone != null and phone!=''"> and phone = #{phone}  </if>   
</where>
</update>
<select id="selectValidCode" resultMap="validCodeMap" parameterType="com.lanxi.WechatIntegralService.entity.ValidCode" resultType="com.lanxi.WechatIntegralService.entity.ValidCode">
select
phone,code,start_time,over_time,valid_code_status
from wechat_integral_service_valid_code
<where> 
<if test="phone != null and phone!=''"> and phone = #{phone}  </if>  
<if test="code != null and code!=''"> and code = #{code}  </if>  
<if test="startTime != null and startTime!=''"> and start_time = #{startTime}  </if>  
<if test="overTime != null and overTime!=''"> and over_time = #{overTime}  </if>  
<if test="validCodeStatus != null and validCodeStatus!=''"> and valid_code_status = #{validCodeStatus}  </if>  
</where>
</select>

<insert id="insert">
    INSERT INTO wechat_integral_service_valid_code(code,phone,start_time,over_time,valid_code_status)
    VALUES(#{code},#{phone},#{startTime},#{overTime},#{validCodeStatus})
</insert>

<select id="getCodeByPhone" resultType="String">
    SELECT code FROM wechat_integral_service_valid_code WHERE phone=#{phone}
</select>

<update id="updateStatusByPhone">
    UPDATE wechat_integral_service_valid_code SET valid_code_status=#{2} WHERE phone=#{phone}
</update>

<select id="getStatusByPhone" resultType="String">
    SELECT valid_code_status FROM wechat_integral_service_valid_code WHERE phone=#{phone}
</select>

<update id="updateStatusByTime">
    UPDATE wechat_integral_service_valid_code SET valid_code_status=#{3}
    WHERE  <![CDATA[ over_time<#{time} ]]>
</update>

<delete id="deleteCode">
    DELETE FROM wechat_integral_service_valid_code WHERE valid_code_status=#{3}
</delete>

<select id="getCountByPhone" resultType="Integer">
    SELECT COUNT(1) FROM wechat_integral_service_valid_code WHERE phone=#{phone}
</select>

<update id="updateCode">
    UPDATE wechat_integral_service_valid_code
    SET valid_code_status=#{validCodeStatus},code=#{code},start_time=#{startTime},over_time=#{overTime}
    WHERE  phone=#{phone}
</update>

<resultMap id="validCodeMap" type="com.lanxi.WechatIntegralService.entity.ValidCode">
<result property="phone" 			column="phone"></result>
<result property="code" 			column="code"></result>
<result property="startTime" 			column="start_time"></result>
<result property="overTime" 			column="over_time"></result>
<result property="validCodeStatus" 			column="valid_code_status"></result>
</resultMap>
</mapper>